{% extends 'polls/base.html' %}
{% load bootstrap4 %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/">главная</a></li>
<li class="breadcrumb-item active" aria-current="page">{{plant.name}}</li>
{% endblock %}

{% block content %}

<a href="/{{ plant.pk }}/removeplant"><button type="button" class="btn btn-danger">удалить растение</button></a>
<a href="/{{ plant.pk }}/editplant"><button type="button" class="btn btn-secondary">редактировать растение</button></a><br><br>

<div class="row">
          <div class="col-2"></div>
          <div class="col-8">

    <table class="table table-striped table-bordered border-dark">
      <tr>
        <th>название</th>
        <td> {{plant.name}} </td>
      </tr>
      <tr>
        <th>номер клапана</th>
        <td> {{plant.numb}} </td>
      </tr>
      <tr>
        <th>время автоматического полития</th>
        <td> {{plant.datetime}} </td>
      </tr>
      <tr>
        <th>продолжительноть полива (сек)</th>
        <td> {{plant.time|default_if_none:"не указано"}} </td>
      </tr>
    </table>
  </div>
  <div class="col-2"></div>
</div>


{% if button %}
  <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form_time %}
    {% buttons %}
          <center><button class="btn btn-success btn-lg" type="submit">полить</button></center>
        {% endbuttons %}
      </form>
{% endif %}

<div class="row">
          <div class="col-2"></div>
          <div class="col-8">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>дата</th>
          <th>инициатор</th>
          <th class="text-end">время</th>
          <th>статус</th>
        </tr>
      </thead>
      <tbody>
        {% for action in actions %}
        <tr>
            <td> {{action.date}} </td>
            <td> {% if action.user %} {{action.user.username}} {% else %} авто {% endif %}</td>
            <td class="text-end"> {{ action.time }} секунд</td>
            <td>{{action.done}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-2"></div>
</div>

<form action="" method="get" class="form">
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">show</button>
    {% endbuttons %}
</form>

{% endblock %}
