{% extends 'polls/base.html' %}
{% load bootstrap4 %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/">главная</a></li>
<li class="breadcrumb-item active" aria-current="page">{{plant.name}}</li>
{% endblock %}

{% block content %}

<a href="/{{ plant.pk }}/removeplant">удалить растение</a><br>
<a href="/{{ plant.pk }}/editplant">редактировать растение</a><br><br>

{% if button %}
  <form action="" method="post" class="form">
    {% csrf_token %}
    {% buttons %}
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">полить</button>
        </div>
        {% endbuttons %}
      </form>
{% endif %}

<div class="row">
          <div class="col-2"></div>
          <div class="col-8">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>дата</th>
          <th>инициатор</th>
          <th class="text-end">время</th>
          <th>статус</th>
        </tr>
      </thead>
      <tbody>
        {% for action in actions %}
        <tr>
            <td> {{action.date}} </td>
            <td> {{action.user.username}} </td>
            <td class="text-end"> {{action.time}} секунд </td>
            <td>{{action.done}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-2"></div>
</div>

<form action="" method="get" class="form">
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">apply</button>
    {% endbuttons %}
</form>

{% endblock %}
