{% extends 'polls/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="row">
          <div class="col-2"></div>
          <div class="col-8">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>дата</th>
          <th>инициатор</th>
          <th class="text-end">время</th>
        </tr>
      </thead>
      <tbody>
        {% for action in actions %}
        <tr>
            <td> {{action.date}} </td>
            <td> {{action.user.username}} </td>
            <td class="text-end"> {{action.time}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-2"></div>
</div>

<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">apply</button>
    {% endbuttons %}
</form>
{% endblock %}
