{% extends "polls/base.html" %}
{% load bootstrap4 %}
{% block title %}Голосование{% endblock %}


      {% block breadcrumbs %}
        <li class="breadcrumb-item"><a href="{% url 'polls:index' %}">Главная</a></li>
{%comment%}        <li class="breadcrumb-item"><a href="{% url 'polls:results' question.id %}">Результаты</a></li> {%endcomment%}
        <li class="breadcrumb-item active" aria-current="page">Голосование</li>
      {% endblock %}

  {% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Vote">
    </form>
  {% endblock %}
