{% extends "wapl/base.html" %}
{% load bootstrap4 %}

{% block breadcrumbs %}
<li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}


{% block content %}
<a href="/createplant"><button type="button" class="btn btn-success">create watering point</button></a>
<h1 class="text-center">Watering points</h1>
<div class="row">
          <div class="col-2"></div>
          <div class="col-8">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>name</th>
          <th class="text-end">date of last watering</th>
        </tr>
      </thead>
      <tbody>
        {% for plant in plants %}
        <tr>
            <td> <a href="{{ plant.pk }}/journal">{{ plant.name }}</a>
          </td>
          {% if plant.last_watering %}
            <td class="text-end"> {{ plant.last_watering }} </td>
          {% else %}
          <td class="text-end">not watered</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-2"></div>
</div>
{% endblock %}
